## Cluster Analysis for Ideal Groups

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Bad key text.latex.preview in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 123 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 155 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 418 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key keymap.all_axes in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 466 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_path in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 477 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_args in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 479 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
df = pd.read_csv('clustered_gd_noLSH.csv',header=0,index_col=False) 
df = df.set_index('user_id')
df = df.drop('Clusters5', 1)
df.head()

,user_id,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,...,swimming-pools,gyms,bakeries,beauty-spas,cafes,view-points,monuments,gardens,Clusters4,Clusters5
0,User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1
1,User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1
2,User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1
3,User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1
4,User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1

In [11]:
df.head()

,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,pubs-bars,...,dance-clubs,swimming-pools,gyms,bakeries,beauty-spas,cafes,view-points,monuments,gardens,Clusters4
user_id,,,,,,,,,,,,,,,,,,,,,
User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,2.65,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1

In [8]:
# Get Cluster value tables
cluster1 = df.loc[df['Clusters4'] == 0]
cluster2 = df.loc[df['Clusters4'] == 1]
cluster3 = df.loc[df['Clusters4'] == 2]
cluster4 = df.loc[df['Clusters4'] == 3]

In [22]:
order1 = cluster1.mean().sort_values()
order1

Clusters4         0.000000
bakeries          0.438643
gyms              0.443948
beauty-spas       0.554013
swimming-pools    0.636661
cafes             0.669651
dance-clubs       0.970772
monuments         1.049927
gardens           1.160983
churches          1.190203
view-points       1.219115
juice-bars        1.544167
art-galleries     1.647994
beaches           1.733534
resorts           1.749976
burger-pizza      1.943591
parks             2.178773
theatres          2.411227
museums           2.966198
zoo               3.717864
malls             3.994135
pubs-bars         4.135751
restaurants       4.585589
dtype: float64

In [23]:
order2 = cluster2.mean().sort_values()
order2

gyms              0.544652
bakeries          0.617199
beauty-spas       0.707652
swimming-pools    0.720270
cafes             0.776978
Clusters4         1.000000
dance-clubs       1.053411
art-galleries     1.295208
churches          1.490232
juice-bars        1.628052
monuments         1.702434
gardens           1.724873
view-points       1.933087
burger-pizza      1.992029
zoo               2.373319
pubs-bars         2.501058
restaurants       2.615240
resorts           2.701155
beaches           3.229110
malls             3.416384
museums           3.732099
parks             3.911306
theatres          4.329525
dtype: float64

In [24]:
order3 = cluster3.mean().sort_values()
order3

burger-pizza      1.320433
dance-clubs       1.546824
swimming-pools    1.547119
zoo               1.571200
gyms              1.583363
juice-bars        1.663274
pubs-bars         1.734857
restaurants       1.863589
malls             1.923727
museums           1.928319
cafes             1.939164
art-galleries     1.954700
Clusters4         2.000000
bakeries          2.136814
beauty-spas       2.186450
theatres          2.255005
churches          2.279961
parks             2.529145
gardens           2.573117
beaches           2.594759
resorts           2.641268
monuments         2.735015
view-points       3.252134
dtype: float64

In [25]:
order4 = cluster4.mean().sort_values()
order4

cafes             0.760089
monuments         0.829098
view-points       0.850532
beauty-spas       0.912838
gardens           0.938012
gyms              0.975632
churches          1.030584
bakeries          1.056548
swimming-pools    1.098256
dance-clubs       1.319239
parks             2.035137
resorts           2.075322
beaches           2.083474
theatres          2.109157
museums           2.404035
zoo               2.429579
burger-pizza      2.889084
pubs-bars         2.926534
Clusters4         3.000000
restaurants       3.448625
malls             3.751057
juice-bars        3.944863
art-galleries     4.150525
dtype: float64